<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340829922874-r63ac8cku8jdtgd6epcpu6rfosaqa96r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340829922874-r63ac8cku8jdtgd6epcpu6rfosaqa96r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>340829922874-ka1risobh4v7gs1kbgjhsl6oge2j7c2b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfi551nKdVc8D1__iDiLIiy0exnBvvHpE</string>
	<key>GCM_SENDER_ID</key>
	<string>340829922874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.humble.warrior</string>
	<key>PROJECT_ID</key>
	<string>hwapp-78661</string>
	<key>STORAGE_BUCKET</key>
	<string>hwapp-78661.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340829922874:ios:3c000c87aa1f844fec7703</string>
	<key>DATABASE_URL</key>
	<string>https://hwapp-78661-default-rtdb.firebaseio.com</string>
</dict>
</plist>